@font-face {
  font-family: main;
  src: url("fonts/Springville-Regular3.otf"); }

@font-face {
  font-family: accent;
  src: url("fonts/ACaslonPro-Regular.otf"); }

html {
  font-family: main;
  box-sizing: border-box; }

h1 {
  font-weight: 100; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  padding-top: 50px; }
  @media (min-width: 580px) {
    body {
      padding-top: 120px; } }

.navbar {
  position: fixed;
  top: 0px;
  line-height: 50px;
  width: 100%;
  z-index: 100;
  background-color: white;
  padding-left: 16px;
  padding-right: 16px;
  border-bottom: 1px solid black; }
  @media (min-width: 580px) {
    .navbar {
      line-height: 120px; } }
  @media (min-width: 1441px) {
    .navbar {
      padding-left: 0px;
      padding-right: 0px; } }

.navbar-content {
  width: 100%;
  margin: 0 auto;
  max-width: 1150px; }

.navbar-logo {
  vertical-align: middle;
  height: 24px; }
  @media (min-width: 580px) {
    .navbar-logo {
      height: 36px; } }

.navbar-nav {
  display: inline-block;
  float: right; }

.navbar-item {
  font-family: Sans-Serif;
  margin-left: 20px;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 11px;
  color: #767676; }
  .navbar-item:hover {
    color: #5d5c5c; }

.carousel-item {
  width: 100%;
  padding-bottom: 75%;
  line-height: 0;
  background-position: center;
  background-size: cover;
  position: relative; }
  @media (min-width: 773px) {
    .carousel-item {
      padding-bottom: 0;
      height: 580px; } }

.carousel-content-container {
  position: absolute;
  top: 20%;
  width: 100%; }
  @media (min-width: 580px) {
    .carousel-content-container {
      top: 36%; } }

.carousel-content {
  color: white;
  position: relative;
  width: 100%;
  margin: 0 auto;
  max-width: 1150px;
  padding-left: 16px;
  padding-right: 16px; }
  @media (min-width: 1441px) {
    .carousel-content {
      padding-left: 0px;
      padding-right: 0px; } }

.carousel-title {
  font-size: 36px;
  line-height: 36px;
  margin: 0; }
  @media (min-width: 821px) {
    .carousel-title {
      font-size: 60px;
      line-height: 60px; } }

.carousel-date {
  font-size: 18px;
  line-height: 18px;
  font-family: accent;
  padding-top: 16px;
  padding-bottom: 16px; }
  @media (min-width: 821px) {
    .carousel-date {
      font-size: 30px;
      line-height: 30px;
      padding-top: 24px;
      padding-bottom: 24px; } }

.carousel-description {
  font-size: 18px;
  line-height: 28px;
  font-family: accent;
  max-width: 420px; }

.slick-list {
  width: 100%;
  margin: 0 auto;
  max-width: 1440px; }

.masonry-container {
  width: 100%;
  margin: 0 auto;
  max-width: 1150px;
  margin-top: 18px; }
  @media (min-width: 580px) {
    .masonry-container {
      margin-top: 50px; } }

.masonry {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-left: 2.5%;
  padding-right: 2.5%;
  width: 100%;
  margin: auto; }
  @media (min-width: 1215px) {
    .masonry {
      justify-content: space-between;
      padding-left: 0;
      padding-right: 0; } }

.column {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: stretch; }

.tile {
  padding-bottom: 10px;
  padding-top: 20px;
  border-bottom: 1px solid #dbdbdb; }
  .tile img {
    width: 100%; }
  @media (min-width: 580px) {
    .tile {
      padding-bottom: 25px;
      padding-top: 50px; } }

.tile-date {
  display: inline-block;
  padding-top: 16px;
  padding-bottom: 16px;
  font-size: 11px;
  font-family: sans-serif;
  text-transform: uppercase;
  color: #767676; }
  @media (min-width: 580px) {
    .tile-date {
      padding-top: 24px;
      padding-bottom: 24px; } }
  @media (min-width: 1081px) {
    .tile-date {
      padding-top: 40px;
      padding-bottom: 40px; } }

.tile-title {
  margin: 0;
  font-size: 30px; }
  @media (min-width: 580px) {
    .tile-title {
      font-size: 36px; } }
  @media (min-width: 1081px) {
    .tile-title {
      font-size: 48px; } }
  .tile-title a {
    color: black;
    text-decoration: none; }
    .tile-title a:hover {
      text-decoration: underline; }

.tile-byline {
  font-weight: 100;
  display: inline-block;
  padding-top: 20px;
  padding-bottom: 20px; }
  .tile-byline a {
    color: black;
    text-transform: uppercase; }

.footer {
  padding-top: 80px;
  padding-bottom: 80px;
  padding-left: 10px;
  padding-right: 10px;
  line-height: 18px;
  text-align: center;
  font-family: sans-serif;
  text-transform: uppercase;
  font-size: 11px;
  color: #131313; }
  .footer a {
    color: #131313; }
  @media (min-width: 580px) {
    .footer {
      margin-top: 110px; } }

/*# sourceMappingURL=main.css.map */