@font-face {
  font-family: main;
  src: url('fonts/Springville-Regular3.otf');
}

@font-face {
  font-family: accent;
  src: url('fonts/ACaslonPro-Regular.otf');
}

html {
  font-family: main;
  box-sizing: border-box;
}

h1 {
  font-weight: 100;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  padding-top: $nav-bar-height_mobile;
  @include media(">phone") {
    padding-top: $nav-bar-height;
  }
}