@font-face {
  font-family: main;
  src: url('fonts/ACaslonPro-Regular.otf');
}

@font-face {
  font-family: accent;
  src: url('fonts/Springville-Regular3.otf');
}

html {
  font-family: main;
}

body {
  padding-top: $nav-bar-height_mobile;
  @include media(">phone") {
    padding-top: $nav-bar-height;
  }
  height: 2000px;
}