.carousel-item {
  width: 100%;
  height: 75vw;
  background-position: center;
  background-size: cover;
  position: relative;
  @include media(">772px") {
    height: 580px;
  }
}

.carousel-content-container {
  position: absolute;
  top: 15%;
  width: 100%;
  @include media(">phone") {
    top: 36%;
  }
}

.carousel-content {
  color: white;
  position: relative;
  @include main-content-container;
  padding-left: 16px;
  padding-right: 16px;
  @include media(">1440px") {
    padding-left: 0px;
    padding-right: 0px;
  }
}

.carousel-title{
  font-size: $font-size-medium-small;
  line-height: $font-size-medium-small;
  margin: 0;
  @include media(">phone") {
    font-size: $font-size-medium;
    line-height: $font-size-medium;
  }
  @include media(">tablet") {
    font-size: $font-size-xlarge;
    line-height: $font-size-xlarge;
  }
}

.carousel-date{
  font-size: $font-size-small;
  line-height: $font-size-small;
  font-family: accent;
  padding-top: 16px;
  padding-bottom: 16px;
  @include media(">tablet") {
    font-size: $font-size-medium-small;
    line-height: $font-size-medium-small;
    padding-top: 24px;
    padding-bottom: 24px;
  }
}

.carousel-description{
  font-size: $font-size-small;
  line-height: $font-size-small + 10px;
  font-family: accent;
  max-width: 420px;
}

.slick-dots li button:before { 
  font-size: 12px;
  opacity: .10;
}
.slick-dots li.slick-active button:before {
  opacity: .30;
}

.slick-dots li button:focus:before, .slick-dots li button:hover:before {
  opacity: .5;
}

.slick-list {
  @include wide-content-container;
}