.footer {
  padding-top:80px;
  padding-bottom:80px;
  padding-left:10px;
  padding-right:10px;
  line-height: 18px;
  text-align: center;
  font-family: sans-serif;
  text-transform: uppercase;
  font-size: $font-size-xsmall;
  color: $font-color-main;
  a {
    color: $font-color-main;
  }
  @include media(">phone") {
    margin-top: 110px;
  }
}