// set breakpoints for include_media mixins
$breakpoints: (phone: 579px, tablet: 820px, desktop: 1080px);

$font-color-main: rgb(19,19,19);
$font-color-accent: rgb(118,118,118);

$font-size-xsmall: 11px;
$font-size-small: 18px;
$font-size-medium-small: 30px;
$font-size-medium: 36px;
$font-size-large: 48px;
$font-size-xlarge: 60px;

// content container mixin for site content max-width
$wide-content-max-width: 1440px;
$main-content-max-width: $wide-content-max-width - 290px;

@mixin wide-content-container {
  width: 100%;
  margin: 0 auto;
  max-width: $wide-content-max-width;
}

@mixin main-content-container {
  width: 100%;
  margin: 0 auto;
  max-width: $main-content-max-width;
}

// heights for nav-bar line height and body padding to account for fixed navbar  
$nav-bar-height: 120px;
$nav-bar-height_mobile: 50px;