.masonry-container{
  @include main-content-container;
  margin-top: 18px;
  @include media(">phone") {
    margin-top: 50px;
  }
}

.masonry{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-left:2.5%;
  padding-right:2.5%;
  width: 100%;
  margin: auto;
  @include media(">1214px") {
    justify-content: space-between;
    padding-left:0;
    padding-right:0;
  }
}

.column{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-content: stretch;
}

.tile{
  img{
    width: 100%;
  }
  padding-bottom: 10px;
  padding-top: 20px;
  border-bottom: 1px solid rgb(219, 219, 219);
  @include media(">phone") {
    padding-bottom: 25px;
    padding-top: 50px;
  }
}

.tile-date {
  display: inline-block;
  padding-top: 16px;
  padding-bottom: 16px;
  font-size: $font-size-xsmall;
  font-family: sans-serif;
  text-transform: uppercase;
  color: $font-color-accent;

  @include media(">phone") {
    padding-top: 24px;
    padding-bottom: 24px;
  }

  @include media(">desktop") {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.tile-title {
  margin: 0;
  font-size: $font-size-medium-small;
  @include media(">phone") {
    font-size: $font-size-medium;
  }
  @include media(">desktop") {
    font-size: $font-size-large;
  }
  a {
    color: black;
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

.tile-byline {
  font-weight: 100;
  display: inline-block;
  padding-top: 20px;
  padding-bottom: 20px;
  a {
    color: black;
    text-transform: uppercase;
  }
}