.navbar {
  position: fixed;
  top: 0px;
  line-height: $nav-bar-height_mobile;
  width: 100%;
  z-index: 100;
  background-color: white;
  padding-left: 16px;
  padding-right: 16px;
  border-bottom: 1px solid black;
  @include media(">phone") {
    line-height: $nav-bar-height;
  }

  @include media(">1440px") {
    padding-left: 0px;
    padding-right: 0px;
  }
}

.navbar-content {
  @include main-content-container;
}

.navbar-logo {
  vertical-align: middle;
  height: 20px;
  @include media(">phone") {
    height: 24px;
  }
  @include media(">tablet") {
    height: 36px;
  }
}

.navbar-nav {
  display: inline-block;
  float: right;
}

.navbar-hamburger {
  height:16px;
  width:24px;
  display: inline-block;
  vertical-align: middle;
  &:hover {
    background:linear-gradient(to bottom, darken($font-color-accent, 20%) 0%, darken($font-color-accent, 20%) 10%, transparent 10%, transparent 45%, darken($font-color-accent, 20%) 45%, darken($font-color-accent, 20%) 55%, transparent 55%, transparent 90%, darken($font-color-accent, 20%) 90%, darken($font-color-accent, 20%) 100%);
  }
  background:linear-gradient(to bottom, $font-color-accent 0%, $font-color-accent 10%, transparent 10%, transparent 45%, $font-color-accent 45%, $font-color-accent 55%, transparent 55%, transparent 90%, $font-color-accent 90%, $font-color-accent 100%);
}

.navbar-item {
  font-family: Sans-Serif;
  margin-left: 12px;
  text-transform: uppercase;
  text-decoration: none;
  font-size: $font-size-xsmall;
  color: $font-color-accent;

  @include media(">phone") {
    margin-left: 20px;
  }

  &:hover {
    color: darken($font-color-accent, 20%)
  }
}
